<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Assistant Category"
            id="com.habil.devhelper">
      </category>
      <view
            name="DevHelper"
            icon="icons/star.gif"
            category="com.habil.devhelper"
            class="com.habil.devhelper.views.DevHelper"
            id="com.habil.devhelper.views.DevHelper">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.habil.devhelper.views.DevHelper">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
